In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [38]:
#read in study data
data_df = pd.read_csv('Resources/Study_results.csv')
#drop duplicates
studydata_df= data_df.drop_duplicates(subset='Mouse ID', keep='last')
studydata_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
1        f932          0           45.000000                 0
20       x336          0           45.000000                 0
53       h428          0           45.000000                 0
55       v199          0           45.000000                 0
109      o848          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[249 rows x 4 columns]

In [39]:
#read in mouse data
mousedata_df = pd.read_csv('Resources/Mouse_metadata.csv')
mousedata_df

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [43]:
#combining the data files
alldata_df = pd.merge(studydata_df, mousedata_df, on="Mouse ID")
alldata_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,f932,0,45.000000,0,Ketapril,Male,15,29
1,x336,0,45.000000,0,Naftisol,Female,4,29
2,h428,0,45.000000,0,Ketapril,Female,1,27
3,v199,0,45.000000,0,Naftisol,Female,17,29
4,o848,0,45.000000,0,Stelasyn,Female,14,27
...,...,...,...,...,...,...,...,...
244,r944,45,41.581521,2,Capomulin,Male,12,25
245,u364,45,31.023923,3,Capomulin,Male,18,17
246,p438,45,61.433892,1,Ceftamin,Female,11,26
247,x773,45,58.634971,4,Placebo,Female,21,30
248,b879,45,72.555239,2,Stelasyn,Female,4,26

In [63]:
# mean_tumorsize = np.mean('Tumor Volume (mm3)', 'Drug Regimen')
# print(f"The mean is {mean_tumorsize}")

# median_tumorsize = np.median('Tumor Volume (mm3)', 'Drug Regimen')
# print(f"The median  is {mean_tumorsize}")
# var_tumorsize = np.var('Tumor Volume (mm3)', ddof = 0)
# print(f"The variance using the NumPy module is {var_numpy}")

# std_tumorsize = np.std('Tumor Volume (mm3)',ddof = 0)
# print(f"The standard deviation using the NumPy module is {sd_numpy}")



# Create a new variable that holds the sum of our groups
# sum_it_up = tumor_drug_df.mean('Tumor Volume (mm3)')
# sum_it_up.head()

In [78]:
mean_tumor = tumor_drug_df.groupby(['Drug Regimen','Tumor Volume (mm3)'])
mean_tumor.head()

,Timepoint,Tumor Volume (mm3),Metastatic Sites,Age_months,Weight (g)
Drug Regimen,,,,,
Capomulin,41.000000,36.667568,1.280000,14.040,20.120
Ceftamin,30.600000,57.753977,1.720000,12.800,27.400
Infubinol,30.600000,58.178246,1.600000,16.400,27.320
Ketapril,32.600000,62.806191,1.920000,14.720,28.080
Naftisol,32.200000,61.205757,2.000000,12.240,27.240
Placebo,31.200000,60.508414,2.080000,10.680,28.040
Propriva,26.200000,56.736964,1.560000,9.880,27.240
Ramicane,40.600000,36.191390,1.200000,10.840,20.000
Stelasyn,32.708333,61.001707,1.458333,13.125,27.875
Zoniferol,31.400000,59.181258,2.000000,12.600,27.920